body{
    background-color: gray;
}

h1{
    color: orange;
    background-color: honeydew;
}

#show_sketch{
    float:right;

}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 30px green;}
    to{box-shadow: 1px 1px 30px gold;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}
span{
    font-size: larger;
    
}